{
  "ignorePatterns": ["src/serviceWorker.ts"],
  "extends": [
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "import"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",

    "react/jsx-props-no-spreading": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": "off",
    "react/react-in-jsx-scope": "off",

    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          ["parent", "internal"],
          ["index", "sibling"]
        ],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "moduleDirectory": ["node_modules", "src/"],
        "extensions": [".ts", ".tsx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["src/**/*.test.tsx"],
      "extends": ["plugin:jest-dom/recommended", "plugin:jest/recommended", "plugin:testing-library/react"],
      "rules": {
        "jest/prefer-comparison-matcher": "error",
        "jest/prefer-each": "error",
        "jest/prefer-equality-matcher": "error",
        "jest/prefer-to-be": "error",
        "jest/prefer-to-contain": "error",
        "jest/prefer-to-have-length": "error",
        "jest/require-top-level-describe": "error",
        "testing-library/prefer-user-event": "error",
        "jest/consistent-test-it": ["error", { "fn": "test" }],
        "jest/prefer-called-with": "error",
        "jest/prefer-expect-resolves": "error",
        "jest/prefer-spy-on": "error"
      }
    }
  ]
}
