{
  "root": true,
  "extends": ["plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "import"],
  "rules": {
    "no-console": "warn",
    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "groups": [
          ["external", "builtin"],
          ["parent", "internal"],
          ["index", "sibling"]
        ],
        "newlines-between": "always"
      }
    ],

    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "all",
        "proseWrap": "always"
      }
    ],

    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
